/SinifiGecmeDurumu/nbproject/private/
/SinifiGecmeDurumu/build/
/HesapMakinesi/nbproject/private/
/HesapMakinesi/build/
/KullaniciGirisi/nbproject/private/
/KullaniciGirisi/build/
/HavaSicakligi/nbproject/private/
/HavaSicakligi/build/
/SayiSiralama/nbproject/private/
/SayiSiralama/build/
/BurcBulma/nbproject/private/
/BurcBulma/build/
/ifelse/nbproject/private/
/ifelse/build/
/UcakBiletiFiyatHesaplama/nbproject/private/
/UcakBiletiFiyatHesaplama/build/
/CinZodyagiHesaplama/nbproject/private/
/CinZodyagiHesaplama/build/
/ArtikYilHesaplama/nbproject/private/
/ArtikYilHesaplama/build/